<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/5f29a57a20.js" crossorigin="anonymous"></script>
    <link rel = "stylesheet" href="{{url_for('static',filename='css/base.css')}}">
    {% block head %}
    <title>모닥불{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
   <div class="main container">
       <header class="container">
           <a class="logo" href="/"><img src="{{ url_for('static', filename='logo.png') }}" alt=""></a>
           <nav class="navbar">
           <a href="/mypage"><i class="fa-solid fa-user"></i></a>
           </nav>
        </header>
       <div class="contents conatainer">
           {% block body %}
           {% endblock %}
        </div>
       <div class="footer conatainer">
           {% block footer %}
           {% endblock %}
        </div>
   </div>
</body>
</html>