<div class="meetTitleNav">
              <div class="meetwrap">
              <div class="meetPic">a</div>
               <h1 class="meetTitle">모임명</h1>
               </div>
               <a class="meetOption" href="/meetadmin">모임관리</a>
           </div>
           <div class="meetContentsWrap">
               <div class="meetBoard">
                  <div class="members">
                   <div class="profileList">

                       <div class="subProfile">
                        <div class="profilePic">
                            <img src="" alt="">
                        </div>
                        <div class="subName">김수한무거북</div>
                        <div class="subLv">Lv.23</div>
                   </div>
                   <div class="subProfile">
                        <div class="profilePic">
                            <img src="" alt="">
                        </div>
                        <div class="subName">내이름</div>
                        <div class="subLv">Lv.23</div>
                   </div>
                </div>

               </div>
                   <div id="board">
                   </div>
                   <div id="calender">
                       calender
                   </div>
                   <div id="toggleBt">
                       toggle
                   </div>
                   <div id="membersBt">
                       members
                   </div>
                   <script>
                    $('.members').hide();
                    $('#calender').hide();
                    $('#toggleBt').click(function(){
                        $('#board').toggle();
                        $('#calender').toggle();
                    });

                    $('#membersBt').click(function(){
                        $('.members').toggle();
                    });
                   </script>
               </div>
               <div class="meetNotice">
                   <h2>공지사항</h2>
                   <span>공지작성</span>
                   <div class="notice">
                       <ul>
                       <li>
                           공지1
                       </li>
                       <li>
                           공지2
                       </li>
                       <li>
                           공지3
                       </li>
                       <li>
                           공지1
                       </li>
                       <li>
                           공지2
                       </li>
                       <li>
                           공지3
                       </li><li>
                           공지1
                       </li>
                       <li>
                           공지2
                       </li>
                       <li>
                           공지3
                       </li><li>
                           공지1
                       </li>
                       <li>
                           공지2
                       </li>
                       <li>
                           공지3
                       </li><li>
                           공지1
                       </li>
                       <li>
                           공지2
                       </li>
                       <li>
                           공지3
                       </li><li>
                           공지1
                       </li>
                       <li>
                           공지2
                       </li>
                       <li>
                           공지3
                       </li><li>
                           공지1
                       </li>
                       <li>
                           공지2
                       </li>
                       <li>
                           공지3
                       </li><li>
                           공지1
                       </li>
                       <li>
                           공지2
                       </li>
                       <li>
                           공지3
                       </li>
                   </ul>
                   </div>

               </div>
           </div>
<script>
    $(".meetNotice span").click(function(){
        $(".detailsBg").eq(1).show();
    })
        $(".subProfile").click(function(){
        $(".detailsBg").first().show();
    })
</script>