<head>
    <!-- fullcalender -->
    <link href='static/fullcalendar-5.11.0/lib/main.css' rel='stylesheet'/>
    <script src="{{url_for('static',filename='fullcalendar-5.11.0/lib/main.js')}}"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
</head>
<script>
  var x,y;
  $(function(){
       var socket = io.connect('http://' + document.domain + ':' + location.port);

      socket.on( 'connect', function() {
        socket.emit( 'postit', {
          data: 'cnt'
        } )

        $("button").on("click",function(e){
            makedrag('',0,0,'','{{user}}');
        });
        //저장 내용물 - 좌표/메시지/텍스트에리어 사이즈
      });

      $(document).on('click', '.fa-trash-can', function(){
        socket.emit( 'postit', {
                del : 'delplz',
                id : $(this).closest('.draggable').attr('id'),
                user : '{{user}}'
              });
        $(this).closest('.draggable').detach();
    });

    //불러오기
    socket.on( 'postitres', function( msg ) {
        if( typeof msg.id !== 'undefined' ) {
            if(msg.user != "{{user}}"){
                //console.log("이동");
                makememo(msg.id,msg.x,msg.y,msg.message,msg.user);
            }
        }
      })

      socket.on( 'delres', function( msg ) {
        if( typeof msg.id !== 'undefined' ) {
            if(msg.user != "{{user}}"){
                $('#'+msg.id).detach();
            }
        }
      })
  });

  function resize(area){
        area.style.height = 'auto';
        let height = area.scrollHeight; // 높이
        area.style.height = `${height}px`;
    }

    function makedrag(id,posx,posy,message,user){
        if(id == undefined || id == ''){id='None'}
        if(message == undefined){message = ''}
        message = message.replace(/&lt;br&gt;/gi,"\n");

        $("<div class='draggable' id='"+id+"' style='top:"+posy+"px; left:"+posx+"px;'><textarea class='scrollbar' name='sticky' id='' placeholder='memo here'>"+message+"</textarea><p><span>"+user+"</span><span><i class='fa-solid fa-trash-can'></i></span></p></div>").appendTo("#board").draggable({containment:'#board'}).on("mouseup" ,function(e){
          x = $(this).position().left;
          y = $(this).position().top;
          message = $(this).children($('textarea')).val();
          message = message.replace(/\n/gi,"<br>");
            socket.emit( 'postit', {
                id : id,
                x : x,
                y : y,
                message : message,
              } )
             /*
              $(this).children($('textarea')).on('keyup', function(){
                     resize(this);
                     //소켓 저장
                    // socket.emit('postit',{
                    //    message = $(this).children($('textarea')).val();
                    // })
              });
              */
          var newpost = $(this);
          socket.on( 'newpostit', function( msg ) {
             if(msg.user == "{{user}}"){
                //this에 id값 추가해줌
                id = msg.id
                newpost.attr('id',msg.id);
                //console.log(newpost.attr('id'));
             }
         })
         //console.log(id, x,y, message);

        });
    }

    function makememo(id,x,y,message,user){
        //console.log(id, x,y,message);
        message = message.replace(/&lt;br&gt;/gi,"<br>");
        if($("#"+id).length>0){
            $("#"+id).css({"top" : y, "left" : x});
            $("#"+id).children($('p')).first().html(message);
        }else{
            $("<div class='memo' id='"+id+"'><p class='scrollbar'>"+message+"</p><p>"+user+"</p></div>").appendTo("#board").css({"top" : y, "left" : x});
        }
    }




</script>

<div class="meetTitleNav">
    <div class="meetwrap">
        <div class="meetPic"><img src="{{ url_for('static', filename='누니.png') }}" alt=""></div>
        <h1 class="meetTitle">모임명</h1>
    </div>
    <a class="meetOption" href="/meetadmin">모임관리</a>
</div>
<div class="meetContentsWrap">
    <div class="meetBoard">
        <div class="members">
            <div class="profileList">

                <div class="subProfile">
                    <div class="profilePic">
                        <img src="{{ url_for('static', filename='누니.png') }}" alt="">
                    </div>
                    <div class="subName">김수한무거북</div>
                    <div class="subLv">Lv.23</div>
                </div>
                <div class="subProfile">
                    <div class="profilePic">
                        <img src="{{ url_for('static', filename='누니.png') }}" alt="">
                    </div>
                    <div class="subName">내이름</div>
                    <div class="subLv">Lv.23</div>
                </div>
            </div>

        </div>
        <div id="board">
            {% for i in data %}
            {%if i.user == user%}
            <script> makedrag("{{i._id}}", {{i.x}}, {{i.y}}, "{{i.message}}","{{i.user}}")</script>
            {%else%}
            <script> makememo("{{i._id}}", {{i.x}}, {{i.y}}, "{{i.message}}", "{{i.user}}")</script>
            {%endif%}
            {%endfor%}
            <button><i class="fa-solid fa-plus"></i></button>
        </div>
        <div id="calendar">
        </div>
        <div class="toggleButtons">
            <div id="toggleBt">
                <i class="fa-solid fa-calendar-days"></i>
                <i class="fa-solid fa-note-sticky"></i>
            </div>
            <div id="membersBt">
                <i class="fa-solid fa-users"></i>
            </div>
        </div>

        <script>
                    $('.members').hide();
                    $('#calender').hide();
                     $('.fa-note-sticky').hide();
                    $('#toggleBt').click(function(){
                        $('#board').toggle();
                        $('.fa-note-sticky').toggle();
                        $('#calender').toggle();
                        $('.fa-calendar-days').toggle();
                    });

                    $('#membersBt').click(function(){
                        $('.members').toggle();
                    });


        </script>
    </div>
    <div class="meetNotice">
        <h2>공지사항</h2>
        <span>공지작성</span>
        <div class="notice scrollbar">
            <ul>
                <li>
                    공지1공지1공지1공지1공지1공지1공지1공지1공지1공지1공지1공지1
                </li>
            </ul>
        </div>

    </div>
</div>
<script>
    $(".meetNotice span").click(function(){
        $(".detailsBg").eq(1).show();
    })
        $(".subProfile").click(function(){
        $(".detailsBg").first().show();
    })


</script>
<script>

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth'
        });
        calendar.render();
        $(".fc-scroller").addClass("scrollbar");
      });



</script>
