<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="./jquery-mousewheel/jquery.mousewheel.js"></script> 
    <meta charset="UTF-8">
    <title>모닥불</title>
    <link rel = "stylesheet" href="static/css/mymeet.css">
</head>

</style>
<body>
   <div class="main container">
       <header class="container">
           <a class="logo" href="/"> 모닥불 </a>
           <nav class="navbar">
           <div class="search"><form action="#" method="post">
               <input type="text" name="keyword" placeholder="검색">
               <input type="submit" value="src">
           </form></div>
           <button class="mypageBt">mypage</button>
           </nav>
        </header>
            <div class="myPage container">
            <div class="sidePage">
               <div class="sideTop">
               <div class="profilepic"></div>
                <h2 class="listTitle">내이름</h2>
                <div class="level">Lv. 00</div>
                <button class="makeMeet">모임만들기</button>
                <ul class="sideOptions">
                    <li>프로필 수정</li>
                    <li>내 모임</li>
                    <li>참여중 모임</li>
                    <li>대기중 모임</li>
                </ul>
                </div>
                
                <a href="#" class="logout">로그아웃</a>
                </div>
           <div class="contents conatainer"> 
                <div class="category">
                  <h3 class="ListTitle">내 모임</h3>
                  <form action="#" method="post">
                    <select name="openClosed" id="openClosed">
                        <option value="모집중">모집 중</option>
                        <option value="모집완료">모집 완료</option>
                    </select>
               </form>
                </div>
                <div class="meetList">
                    <ul>
                        <li><span>이런저런모임</span><span>내이름</span></li>
                        <li><span>이런저런모임</span><span>내이름</span></li>
                        <li><span>이런저런모임</span><span>내이름</span></li>
                        <li><span>이런저런모임</span><span>내이름</span></li>
                        <li><span>이런저런모임</span><span>내이름</span></li>
                        <li><span>이런저런모임</span><span>내이름</span></li>
                        <li><span>이런저런모임</span><span>내이름</span></li>
                        <li><span>이런저런모임</span><span>내이름</span></li>
                        <li><span>이런저런모임</span><span>내이름</span></li>
                        <li><span>이런저런모임</span><span>내이름</span></li>
                    </ul>
                </div>
            </div>
       </div>
    </div>
</body>
</html>