<div class="sidePage">
               <div class="sideTop">
               <div class="profilepic"></div>
                <h2 class="listTitle">내이름</h2>
                <div class="level">Lv. 00</div>
                <button class="makeMeet">모임만들기</button>
                <ul class="sideOptions">
                    <li><a>프로필 수정</a></li>
                    <li><a href="/mymeets">내 모임</a></li>
                    <li><a href="/mymeets">참여중 모임</a></li>
                    <li><a href="/mymeets">대기중 모임</a></li>
                </ul>
                </div>
                <a href="/logout" class="logout">로그아웃</a>
        <script>
        $(".makeMeet").click(function(){
                $(".detailsBg").eq(1).show();
            })
        $(".sideOptions").children().first().click(function(){
                $(".detailsBg").first().show();
            })
        </script>
</div>