<head>
 <link rel = "stylesheet" href="static/css/mypage_meetlist.css">
</head>
<body>
<div class="contents conatainer">
                <div class="category">
                  <h3 class="ListTitle">내 모임</h3>
                  <form action="#" method="post">
                    <select name="openClosed" id="openClosed">
                        <option value="모집중">모집 중</option>
                        <option value="모집완료">모집 완료</option>
                    </select>
               </form>
                </div>
                <div class="meetList">
                    <ul>
                        <li><span>이런저런모임</span><span>내이름</span></li>
                        <li><span>이런저런모임</span><span>내이름</span></li>
                        <li><span>이런저런모임</span><span>내이름</span></li>
                        <li><span>이런저런모임</span><span>내이름</span></li>
                        <li><span>이런저런모임</span><span>내이름</span></li>
                        <li><span>이런저런모임</span><span>내이름</span></li>
                        <li><span>이런저런모임</span><span>내이름</span></li>
                        <li><span>이런저런모임</span><span>내이름</span></li>
                        <li><span>이런저런모임</span><span>내이름</span></li>
                        <li><span>이런저런모임</span><span>내이름</span></li>
                    </ul>
                </div>
</div>
</body>