<head>
    <link rel = "stylesheet" href="static/css/mypage_meetcard.css">
</head>
<body>
<div class="contents conatainer">
                <div class="category">
                  <h3 class="ListTitle">내 모임</h3>
                  <form action="#" method="post">
                   <!-- 디자인 하려면 button->li로 넣어야 할듯 -->
                    <select name="openClosed" id="openClosed">
                        <option value="모집중">모집 중</option>
                        <option value="모집완료">모집 완료</option>
                    </select>
               </form>
                </div>

               <div class="cardContainer">
               <div class="cards makeSelf">
                   <ul>
                   <li class="card">
                       <a href="/meet">어쩌구모임</a>
                   </li>
                       <!-- li 반복문 -->
               </ul>
               </div>
                   <div class="scrollBt-left">왼쪽버튼</div>
                   <div class="scrollBt-right">오른쪽버튼</div>
            </div>
            <div class="category">
                  <h3 class="ListTitle">참여중 모임</h3>
                  <form action="#" method="post">
                   <!-- 디자인 하려면 button->li로 넣어야 할듯 -->
                    <select name="openClosed" id="openClosed2">
                        <option value="모집중">모집 중</option>
                        <option value="모집완료">모집 완료</option>
                    </select>
               </form>
                </div>
            <div class="cardContainer">
               <div class="cards participate">
                   <ul>
                   <li class="card">
                       카드정보
                   </li>
                    <!-- li 반복문 -->
               </ul>
               </div>
                   <div class="scrollBt-left">왼쪽버튼</div>
                   <div class="scrollBt-right">오른쪽버튼</div>
            </div>
</div>
</body>