<head>
<link rel = "stylesheet" href="static/css/profileedit.css">
</head>
<body>
   <div class="detailsBg">
       <div class="profileWrap">
        <button>X</button>
        <div class="profileDetail">
            <div class="detailWrap">
            <div class="profileImg"><img src="{{ url_for('static', filename='누니.png') }}"/><span>icon</span></div>
            <form action="">
            <input type="hidden" id="pfImg" name="pfImg">
            <div class="namePlace">
            <span>이름</span>
            <input type="text" id="username" name="username" placeholder="이름">
            </div>
            <div class="introPlace">
            <span>자기소개</span>
            <textarea id="introduce" name="introduce">(글자수 제한 150자)</textarea>
            </div>
            </form>
            </div>
        </div>
    </div>  
    </div>
    <script>
        $(".detailsBg").hide();
        $(".profileWrap button").click(function(){
            $(".detailsBg").hide();
        })
    </script>
</body>