<head>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <link rel = "stylesheet" href="static/css/profile.css">
</head>
<body>
   <div class="detailsBg">
       <div class="profileWrap">
        <button>X</button>
        <div class="profileDetail">
            <div class="detailWrap">
            <div class="profileImg"><img src="{{ url_for('static', filename='누니.png') }}"/></div>
            <h2>내이름</h2>
            <p>프론트엔드와 디자인을 함께 하는 사람입니다.</p>
            </div>
            <div class="meetWrap">
                <h5>함께하는 모임</h5>
            <div class="sameMeetWrap">
              
               <div class="sameMeet">
                   <div class="meetPic"><img src=""/></div>
                   <p>모임명</p>
               </div>
                              <div class="sameMeet">
                   <div class="meetPic"><img src="" alt=""></div>
                   <p>모임명</p>
               </div>
                              <div class="sameMeet">
                   <div class="meetPic"><img src="" alt=""></div>
                   <p>모임명</p>
               </div>
               <div class="sameMeet">
                   <div class="meetPic"><img src="" alt=""></div>
                   <p>모임명</p>
               </div>
               <div class="sameMeet">
                   <div class="meetPic"><img src="" alt=""></div>
                   <p>모임명</p>
               </div>
                <!-- 3개씩 틀로 나옴 -->
            </div>
            
        </div>
    </div>
            
    </div>
   </div>
    <script>
        $(".detailsBg").hide();
        $(".profileWrap button").click(function(){
            $(".detailsBg").hide();
        })
    </script>
</body>
</html>