@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;900&display=swap');

     a:link, a:visited, a{
        text-decoration:none;
        color:black;
     }


  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .scrollbar::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(255,255,255,0.5);
  }
  .scrollbar::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: rgba(150,150,150,0.5)
  }
  .scrollbar::-webkit-scrollbar-thumb:hover{
  	background: rgba(150,150,150,0.9);
  }
  .scrollbar::-webkit-scrollbar-thumb:active{
  	background: rgba(150,150,150,0.9)
  }

h1, h2, h3, h4, h5, h6{
    margin: 0;
    border: 0;
}

html, body, .main{
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: 300;
        margin: 0;
        border: 0;
        width : 100%;
        height: 100%;
    }

    .main{
        display: flex;
        flex-direction: column;
        align-items:stretch;
    }

    header{
        top:0px;
        padding: 1rem;
        z-index:10;
        display:flex;
        position: relative;
        justify-content: space-between;
        align-items: center;
        background-color: #ea5a5a;

    }

    .logo{
        width:150px;
        height:auto;
        overflow:hidden;
    }
    .logo > img{
        width:100%;
        height:100%;

    }

    .navbar{
        display: flex;
        position: relative;
    }
    .search input{
        height:30px;
        margin-right:1rem;
    }

 .contents{
        flex: 1;
        overflow: hidden;
        display:flex;
    }

    .fa-user:link, .fa-user:visited, .fa-user{
    text-decoration: none;
    color:#ea5a5a;

    }

    .fa-user{
    display:flex;
    justify-content:center;
    align-items:center;
        font-size : 1rem;
        background-color:#fff;
        border-radius:50%;
        width:30px;
        height:30px;
        margin-right:10px;
    }

