    .contents{
        align-items: center;
        text-align: center;
    }

    .contents{
        padding:50px;
        flex-direction: column;
    }

    .meetTitleNav{
        margin-bottom: 30px;
        width:80%;
        justify-content: space-between;
        align-items: center;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .meetwrap{
        display: flex;
        align-items: center;
    }
    .meetPic{
        display: flex;
        justify-content: center;
        align-items: center;
        width:50px;
        height: 50px;
        background-color:gray;
        margin-right: 10px;
        border-radius: 50%;
        overflow: hidden;
    }

    .meetPic img{
    width:100%;
    }

    .meetTitleNav h1{
        display: inline-block;
        margin: 0;
    }

    .meetContentsWrap{
        width:80%;
        flex:1 1 0px;
        display:flex;
        align-content: center;
        justify-content: center;
        text-align: center;
        overflow: hidden;
    }

    .meetBoard{
        flex:3 1 0;
        position: relative;
        overflow: hidden;
    }

    .meetBoard #board{
        width: 100%;
        height: 100%;
        background-color: bisque;
        flex-wrap: nowrap;
        overflow: hidden;
    }

    .meetBoard #calender{
        width: 100%;
        height: 100%;
        filter: drop-shadow(0 2px 5px lightgray);
        background-color: white;
    }

    .meetBoard #toggleBt{
        background-color: aquamarine;
        display:inline-block;
        position: absolute;
        bottom:0;
        right: 80px;
        margin: 10px;
        z-index:10;
    }

    .meetBoard #membersBt{
        background-color: skyblue;
        display:inline-block;
        position: absolute;
        bottom:0;
        right: 0;
        margin: 10px;
        z-index:10;
    }

    .profileList{
        display: flex;
    }

    .profileList .subProfile{
        padding-right: 1rem;
        text-align: center;
    }

    .subProfile .profilePic{
        position: relative;
        display: inline-block;
        background-color:gray;
        width:70px;
        height:70px;
        border-radius: 50%;
        overflow: hidden;
    }

.profilePic img{
    width:100%;
}
    .subProfile .subName{
        margin-top: 0.2rem;
        font-size: 0.8rem;
        font-weight: bold;
    }

    .subProfile .subLv{
        font-size:0.5rem;
        color:gray;
    }

    .meetNotice{
        flex:1;
        margin-left:10px;
        background-color: white;
        border: 1px solid lightgray;
        text-align: justify;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .meetNotice h2{
        margin: 0;
        padding-left: 25px;
        padding-top: 20px;
    }

    .meetNotice h2:after{
        flex-shrink: 0;
        display: block;
        content: '';
        margin-top:15px;
        width:85%;
        height:1px;
        background-color: gainsboro;
    }

    .meetNotice > span {
        display: block;
        text-align: right;
        padding-right: 30px;
        padding-top: 10px;
    }

    .meetNotice .notice{
        height: 100%;
        flex:1;
        overflow: scroll;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 2;
    }

    .meetNotice li{
        text-align: justify;
        list-style:square;
        padding-left: 0;
    }

        @media(max-width:1000px){
        .meetContentsWrap{
            flex-direction: column;
        }
        .meetNotice{
            margin: 0;
        }
        .meetNotice ul{
            height:100px;

        }
        .meetNotice h2{
            font-size: 1rem;
        }

       @media(max-height:800px){
        .meetNotice{
            display:none;
        }
      }
    }
