<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel = "stylesheet" href="static/css/meetadmin.css">
</head>
<body>
   <div class="main container">
       <header class="container">
           <a class="logo" href="/"> 모닥불 </a>
           <nav class="navbar">
           <div class="search"><form action="#" method="post">
               <input type="text" name="keyword" placeholder="검색">
               <input type="submit" value="src">
           </form></div>
           <button class="mypage">mypage</button>
           </nav>
        </header>
       <div class="contents conatainer"> 
           <div class="meetTitleNav">
              <div class="meetwrap">
              <div class="meetPic">a</div>
               <h1 class="meetTitle">모임명</h1>
               </div>
               <a class="meetOption" href="/meet">모임홈</a>
           </div>
           <div class="meetContentsWrap">
               <div class="meetBoard">
                  <div class="sub">
                  <h2>참여 신청</h2>
                   <div class="profileList">
                       
                       <div class="subProfile">
                        <div class="profilePic">
                            <img src="" alt="">
                        </div>
                        <div class="subName">내이름</div>
                        <div class="subLv">Lv.23</div>
                        <button>X</button><button>V</button>
                   </div>
                   <div class="subProfile">
                        <div class="profilePic">
                            <img src="" alt="">
                        </div>
                        <div class="subName">내이름</div>
                        <div class="subLv">Lv.23</div>
                        <button>X</button><button>V</button>
                   </div>
                   
                   </div>
                </div>
                <div class="members">
                  <h2>멤버 목록</h2>
                   <div class="profileList">
                       
                       <div class="subProfile">
                        <div class="profilePic">
                            <img src="" alt="">
                        </div>
                        <div class="subName">내이름</div>
                        <div class="subLv">Lv.23</div>
                        <button>탈퇴</button>
                   </div>
                   <div class="subProfile">
                        <div class="profilePic">
                            <img src="" alt="">
                        </div>
                        <div class="subName">내이름</div>
                        <div class="subLv">Lv.23</div>
                        <button>탈퇴</button>
                   </div> 
                </div>   
               </div>
               <div id="toggleBt">
                       this is toggle
                   </div>
                   <script>
                    $('.sub').hide();
                    $('#toggleBt').click(function(){
                        $('.sub').toggle();
                        $('.members').toggle();
                    });
                   </script>
               </div>
               <div class="meetNotice">
                   <h2>공지사항</h2>
                   <div class="notice">
                       <ul>
                       <li>
                           <span>공지1</span> <div class="noticeAdmin"><a href="/makenotice">수정</a> <a href="#">삭제</a></div>
                       </li>
                   </ul>
                   </div>
                   
               </div>
           </div>
       </div>
       <div id="chatBt">chatBt</div>
       <div id="chatBox">chatBox 
       <div id="chatCloseBt">X</div></div>
       <script>
        $('#chatBox').hide();
        $('#chatBt').click(function(){
            $('#chatBox').show();
        });
        $('#chatCloseBt').click(function(){
            $('#chatBox').hide();
        });
       </script>
       <div class="footer conatainer">
           <!--팀원이나 간단한 정보들적기, 높이 낮아지면 사라짐-->
        </div>
   </div>
</body>
</html>